.AddVacation {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background: url("../../../../src/Assets/images/brown-glass-bottle-beside-white-book-on-blue-and-white-textile-oj0zeY2Ltk4.jpg") ;
    
    background-size: cover;
    height: 100%;

    
}




.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 21px;
    font-family: "arvo", "cursive";
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

 form>button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

.LoginIsNeeded {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it horizontally and vertically */
    text-align: center; /* Center the content within the div */
    font-weight: bold;

  

  }

  /* design for the cancel button */
.cancel-button-add-vacation {
    background-color: white;
    color: #333;
    margin-top: 3px;
}

.file-input-add-vacation {
    width: 100%; /* Full width of the form but respects padding and border */
    max-width: 100%; /* Ensures it doesn’t grow beyond the form's width */
    margin: 0px ;
    padding: 8px;
    box-sizing: border-box; /* Includes padding and border in the element's total width */
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #D8000C; /* Bright red text color for visibility */
    background-color: #FFD2D2; /* Light red background to highlight the error */
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #D8000C; /* Red border matching the text color */
    box-shadow: 0 0 10px #D8000C; /* Shadow for an elevated effect */    
    font-size: 0.9em; 
}
