.EditVacation {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    background: url("../../../../src/Assets/images/brown-glass-bottle-beside-white-book-on-blue-and-white-textile-oj0zeY2Ltk4.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100%; */
}

form { /* Assuming your form has a container class */
    max-width: 100%; 
    margin: auto;
    padding: 10px; 
    box-sizing: border-box;
}

.upload-image {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 3px;
    color:black;
    
    font-size: 18px;
    font-family: "arvo", "cursive";
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;    
}

 form>button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
} 





.file-input-edit-vacation, .image-preview {
    width: 100%; /* Full width of the form but respects padding and border */
    max-width: 100%; /* Ensures it doesn’t grow beyond the form's width */
    margin: 0px ;
    padding: 8px;
    box-sizing: border-box; /* Includes padding and border in the element's total width */
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-preview span {
    display: block; /* Make the span take the full width */
    margin-bottom: 5px; /* Space between text and image */
    font-weight: bolder; /* Optional: make the text bold *
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow makes text easier to read against complex backgrounds */

}

.image-preview img {
    max-width: 100%; 
    max-height: auto; 
    border: 1px solid #ccc; /* Optional: add a border around the image */
    border-radius: 4px; /* Optional: round the corners */
}

/* design for the cancel button */
.cancel-button-edit-vacation {
    background-color: white;
    color: #333;
    margin-top: 3px;
}