.Register{
    background-image: url("../../../../src/Assets/images/beach-sand-boat-limestone-wallpaper-3e96b283dacf570c14dfd442ac160c2b.jpg");
    background-size: cover;
    height: 100%;
}
.Register .text-box {
	width: 100%;
    margin: 5px 0;
} 
.Register>form>h5{
    text-align: center;
}
.Register > p{
    background-color: red;
 }	
 .error-message {
    color: red;
  }

